/*TEST2*/

/*Polices*/

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}

@font-face {
    font-family: 'Homemade Apple', cursive;
    src: url('https://fonts.googleapis.com/css?family=Homemade+Apple');
}

@font-face {
    font-family: 'Nanum Brush Script', cursive;
    src: url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');
}

@font-face {
    font-family: 'Sedgwick Ave Display', cursive;
    src: url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
}

@font-face {
    font-family: 'Patrick Hand', cursive;
    src: url('https://fonts.googleapis.com/css?family=Patrick+Hand');
}




body {
    font-family: 'Raleway', sans-serif;
    background-color: #A8D1E1;
    margin: 0%;
    color: rgb(9, 66, 77);
}

p {
    text-align: justify;
    font-size: 120%;
    /*color: rgb(6, 67, 78);*/
}

.message-special {
    font-size: 3em;
}

a:link {
    text-decoration: none;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
}

h2 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 200%;
}

#burger {
    width: 30%;
    margin: 10px;
    height: 35%;
    display: none;
}

#titrebox {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 80px;
}

#logoboxlike {
    width: 160px;
    height: 100%;
}

#titre {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

section {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 120px;
}

a:hover {
    color: #FFED00;
}

.imgcadregauche {
    border-style: solid;
    border-width: 2px;
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 50%;
    height: auto;
}

.imgcadredroite {
    border-style: solid;
    border-width: 2px;
    float: right;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 4%;
    width: 50%;
    height: auto;
}

#fresque {
    width: 100%;
    height: auto;
}

footer {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    background-color:  rgba(0, 58, 128, 0.507);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

footer > a {
    color: #A8D1E1;
}

.casesform {
    width: 20%;
}

.icone {
    width: 10%;
    height: auto;
}

.flottegauche {
    float: left;
    margin: 10px;
}














/*iPhone*/

@media screen and (max-width:1300px) {

    p {
        font-size: 80%;
    }

    h1 {
        font-size: 150%;
    }
    
    h2 {
        font-size: 160%;
    }

    header {
        background-color: #A8D1E1;
        width: 100%;
        height: 160px;
        position: fixed;
        top: 0%;
        left: 0%;
    }

    #headerbrown {
        background-color: #D5B995;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0%;
        left: 0%;
     }
     
    #headerleft {
        background-color: #D5B995;
        width: 220px;
        height: 90px;
        position: fixed;
        top: 0%;
        left: 0%;
    }
    
    #logobox {
        background-color: #D5B995;
        width: 120px;
        height: 140px;
        border-bottom-right-radius: 30%;
        position: fixed;
        top: 0%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #logo {
        width: auto;
        height: 120px;
    }
    
    #bordbox {
        background-color: #A8D1E1;
        width: 100px;
        height: 90px;
        border-top-left-radius: 50%;
        position: fixed;
        top: 50px;
        left: 120px;
    }

    #burger {
        display: initial;
    }

    #burger-png {
        width: auto;
        height: 30px;
        position: fixed;
        top: 1%;
        right: 1%;
    }

    #croix-png {
        width: auto;
        height: 40px;
        position: fixed;
        top: 1%;
        right: 1%;
        display: none;
    }

    #separatorbox {
        width: 100%;
        height: 4px;
        position: fixed;
        top: 160px;
        display: flex;
        justify-content: center;
    }
    
    #separator {
        display: block;
        width: 90%;
        height: 2px;
        background-color: rgb(14, 32, 92);
        border-radius: 40%;
    }    

    #navPC {
        display: none;
    }

    #navMob {
        position: fixed;
        top: 0%;
        height: auto;
        width: 100%;
        padding-top: 200px; 
        background-color: rgb(213, 185, 149);
    }

    #menutitre {
        position: absolute;
        top: 75px;
        right: 20%;
    }

    #navMobul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: flex-start;
        list-style: none;
        width: 100%;
        margin: 0%;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .navMobli {
        width: 80%;
        text-align: center;
    }

    .navMobli > a {
        color:#003A80 ;
    }


    #transition {
        position: fixed;
        top: 420px;
        height: 30px;
        width: 100%;
        background-image: linear-gradient(rgb(213, 185, 149), rgba(213, 185, 149, 0.2));
    }

    section {
        margin-top: 180px;
    }

    .imgcadregauche {
        border-style: solid;
        border-width: 2px;
        width: 100%;
    }
    
    .imgcadredroite {
        border-style: solid;
        border-width: 2px;
        width: 100%;
    }

    footer {
        height: 60px;
        font-size: 0.8em;
        border-top: 1px;
        border-top-style: solid;
        text-align: center;
    }
     
}











/*PC*/

@media screen and (min-width:1300px) {

    h1 {
        font-size: 400%;
    }

    header {
        background-color: #A8D1E1;
        width: 100%;
        height: 310px;
        position: fixed;
        top: 0%;
        left: 0%;
    }

    #headerbrown {
        background-color: #D5B995;
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0%;
        left: 0%;
     }
     
    #headerleft {
        background-color: #D5B995;
        width: 440px;
        height: 180px;
        position: fixed;
        top: 0%;
        left: 0%;
    }
    
    #logobox {
        background-color: #D5B995;
        width: 240px;
        height: 280px;
        border-bottom-right-radius: 30%;
        position: fixed;
        top: 0%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #logo {
        width: auto;
        height: 240px;
    }
    
    #bordbox {
        background-color: #A8D1E1;
        width: 200px;
        height: 180px;
        border-top-left-radius: 50%;
        position: fixed;
        top: 100px;
        left: 240px;
    }    

    #burger {
        display: none;
    }

    #separatorbox {
        width: 100%;
        height: 4px;
        position: fixed;
        top: 310px;
        display: flex;
        justify-content: center;
    }
    
    #separator {
        display: block;
        width: 90%;
        height: 2px;
        background-color: rgb(14, 32, 92);
        border-radius: 40%;
    }    

    #titrebox {
        top: 180px;
    }

    #navPC {
        display: block;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 90%;
        text-align: center;
    }

    #navMob {
        display: none;
    }

    #navPCul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        list-style: none;
        margin: 0%;
    }

    .navPCli {
        width: 17%;
        font-size: 150%;
        border-left-style: solid;
        border-width: 1px;    
    }

    .navPCli > a {
        display: block;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #003A80;
    }

    .navPCli:hover  {
        background-color: #003A80;
    }

    .navPCli:hover a {
        color: #FFED00;
    }

    #transition {
        display: none;
    }

    section {
        margin-top: 320px;
    }

    a:active {
        list-style: none;
    }

    #grille {
        display: grid;
        grid-template-columns: repeat(3,25%);
        grid-gap: 2%;
    }

    #grille div:nth-child(1) {
        grid-column: 1 / 2;
    }

    #grille div:nth-child(2) {
        grid-column: 2 / 3;
    }

    #grille div:nth-child(3) {
        grid-column: 3 / 3;
    }

    footer {
        height: 80px;
    }
}
